.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.header__menu-button {
  padding: 0;
  height: 100%;
  margin-left: auto;
  background: transparent;
  border: none;
  width: 58px;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url("../img/menuBar.png");
  display: inline-block;
}

.header .logo__description {
  display: none;
}

.navigation {
  display: none;
}

.additionla-navigation {
  display: flex;
  margin-top: 60px;
  margin-left: auto;
}
.additionla-navigation__column {
  margin-right: 29px;
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  color: #2b292d;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}
.nav-links__list {
  margin-top: 18px;
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
}
.nav-links__list__item {
  color: #2b292d;
  opacity: 60%;
}

@media screen and (min-width: 400px) {
  .header .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
    margin-left: 15px;
  }
  .header {
    margin: auto;
    display: flex;
    width: 1140px;
    height: 64px;
    background-color: #f3c6bd;
  }
  .header__button {
    display: block;
  }
  .header__menu-button {
    display: none;
  }
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
  .navigation__item {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    margin-left: 50px;
  }
  .navigation__item_selected {
    font-weight: 700;
    color: #000;
  }
  .navigation__arrow {
    background-image: url(img/Arrow.png);
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 11px;
  }
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
  .logo__description {
    line-height: 18px;
    font-size: 20px;
  }
  .logo__img {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 400px) {
  .downlouds {
    margin-top: 25px;
  }
  .downlouds__item {
    margin-right: 10px;
  }
  .about-company {
    margin-top: 43px;
    width: 360px;
  }
  .logo__sub-name {
    margin-left: 15px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #2b292d;
  }
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
  .footer__description {
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: #2b292d;
    opacity: 60%;
    margin-top: 26px;
  }
  .footer__navigation {
    height: 339px;
  }
  .footer__line {
    border-top: 1px solid #000;
    opacity: 10%;
    width: 100%;
    margin: 0;
  }
  .footer__links {
    display: flex;
    align-items: center;
    height: 50px;
    width: 1140px;
    margin: 0 auto;
  }
  .footer__navigation {
    display: flex;
    width: 1140px;
    margin: 0 auto;
  }
  .footer__terms {
    margin: 15px;
    height: 22px;
    font-size: 14px;
  }
  .footer__terms_item {
    line-height: 22px;
    color: #2b292d;
    opacity: 60%;
  }
  .footer__terms__item + .footer__terms__item {
    margin-left: 22px;
  }
}
@media screen and (max-width: 321px) {
  .footer__description {
    display: none;
  }
  .footer__terms {
    padding-top: 30px;
    padding-left: 15px;
  }
  .footer__terms_item {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
  }
  .footer__terms_item + .footer__terms_item {
    padding-left: 15px;
  }
  .logo__sub-name {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #2b292d;
  }
  .footer .logo {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .footer .logo__name {
    padding-top: 20px;
  }
  .footer .logo__name {
    margin: 0;
    text-align: center;
    color: #000;
  }
  .additionla-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .downlouds {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e3e3e3;
    padding-top: 31px;
    padding-bottom: 40px;
  }
  .downlouds__item + .downlouds__item {
    margin-left: 15px;
  }
  .nav-links {
    margin-right: 29px;
  }
  .nav-links__title {
    padding-top: 30px;
  }
  .social-link {
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 23px;
  }
}
.logo {
  display: flex;
}
.logo__img {
  width: 60px;
  height: 60px;
}
.logo__name {
  color: #000;
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
}
.logo__description {
  display: none;
}
.logo__text {
  color: #2b292d;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  width: 100%;
}
.headline__img {
  margin-bottom: 36px;
  width: 100%;
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  color: #2b292d;
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
.headline__actions {
  margin-top: 30px;
}

@media screen and (min-width: 400px) {
  .headline {
    display: flex;
    position: relative;
    margin: auto;
    width: 1140px;
    margin-top: 84px;
    padding-bottom: 77px;
  }
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
  .headline__title {
    width: 754px;
    height: 165px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
    margin-top: 0;
  }
  .headline__description {
    margin-top: 34px;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    color: #2b292d;
  }
  .headline__img {
    margin-left: auto;
    position: relative;
    height: 448px;
    width: 796px;
    right: -110px;
  }
}
.btn {
  width: 290px;
  height: 48px;
  font-weight: 700;
  height: 48px;
  text-align: center;
  border: none;
  font-size: 18px;
  line-height: 13px;
  border-radius: 2px;
}

.action-button {
  color: #fff;
  background-color: #3040c4;
}

.info-button {
  background-color: #fff;
  color: #3040c4;
}
.info-button_black-text {
  color: #000;
}

.btn + .btn {
  margin-top: 15px;
}

.header__button {
  display: none;
}

@media screen and (min-width: 400px) {
  .action-button {
    font-weight: 700;
    width: 160px;
    height: 50px;
    background-color: #3040c4;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 13px;
    border-radius: 2px;
    border: none;
  }
  .info-button {
    margin-left: 10px;
    width: 160px;
    height: 50px;
  }
  .btn + .btn {
    margin-top: 0;
  }
}
.audiensec {
  background: rgba(0, 161, 198, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audiensec-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.audiensec-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.audiensec-text__paragraph {
  margin-top: 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #2b292d;
}
.audiensec-text__header {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  color: #2b292d;
}
.audiensec-text__description {
  margin: 18px 15px 0 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2b292d;
}

.audiensec-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.audiensec-tools__item {
  width: 290px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.audiensec-tools__item-img {
  margin-top: 22px;
}
.audiensec-tools__item:hover {
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
  background-color: #3040c4;
  color: #fff;
}
.audiensec-tools__item + .audiensec-tools__item {
  margin-top: 15px;
}
.audiensec-tools__item-description {
  margin-top: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .audiensec {
    display: flex;
    flex-direction: column;
  }
  .audiensec-tools {
    display: flex;
    flex-direction: row;
    margin: 111px 131px 110px 130px;
  }
  .audiensec-tools__item {
    width: 262px;
    height: 300px;
  }
  .audiensec-tools__item + .audiensec-tools__item {
    margin-left: 30px;
    margin-top: 0px;
  }
  .audiensec-text {
    margin: 108px 423px 0 422px;
  }
  .audiensec-text__description {
    margin: 0;
    width: 555px;
    height: 72px;
    margin-top: 30px;
  }
  .audiensec-text__header {
    height: 112px;
    width: 555px;
    text-align: center;
    letter-spacing: -0.5px;
    font-size: 56px;
    line-height: 56px;
    margin-top: 24px;
  }
  .audiensec-actions {
    display: flex;
    flex-direction: row;
    margin-top: 34px;
  }
  .audiensec-btn + .audiensec-btn {
    margin: auto auto auto 10px;
  }
  .audiensec-btn {
    height: 48px;
    width: 160px;
  }
}
.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f7;
  width: 100%;
}

.order-img-div {
  margin-top: 51px;
}
.order-img-div__image {
  height: 220px;
  width: 200px;
}

.info-side {
  padding-bottom: 50px;
}

.order-text {
  width: 290px;
}
.order-text__header {
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #2b292d;
}
.order-text__paragraph {
  height: 167px;
  margin-top: 18px;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #2b292d;
}

.order-inputs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-inputs__input {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
  color: #000;
  width: 290px;
  height: 48px;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
}
.order-inputs__btn {
  height: 48px;
  width: 290px;
  margin-top: 12px;
  padding: 0;
}

.order-under {
  margin-top: 10px;
  width: 290px;
  height: 44px;
}
.order-under__text {
  color: rgba(43, 41, 45, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.order-under__text-like-url {
  text-decoration: underline;
}

@media screen and (min-width: 400px) {
  .order {
    padding: 73px 229px 72px 224px;
    flex-direction: row;
    justify-content: center;
    background-color: #f4f5f7;
  }
  .order-text {
    width: 555px;
  }
  .order-text__header {
    height: 48px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #2b292d;
  }
  .order-text__paragraph {
    height: 64px;
    margin-top: 12px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2b292d;
  }
  .order-inputs {
    margin-top: 26px;
    flex-direction: row;
  }
  .order-inputs__btn {
    height: 48px;
    width: 160px;
    margin: 0;
    margin-left: 10px;
  }
  .order-img-div {
    margin: 0 121px 0 0;
  }
  .order-img-div__image {
    height: 296px;
    width: 269px;
  }
  .order-inputs {
    display: flex;
    align-items: center;
  }
  .order-inputs__input {
    width: 385px;
  }
  .order-under {
    width: 495px;
    margin-top: 10px;
  }
  .order-under__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}
* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

html {
  font-family: "Work Sans";
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 400px) {
  .only-desctop {
    display: none;
  }
}
.top-section {
  background-color: #f3c6bd;
}

.userful-link {
  height: 338px;
  width: 1140px;
  margin: 0 auto;
}

.social-link {
  display: flex;
  margin-left: auto;
}
.social-link a + a {
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map */
