.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.header__menu-button {
  padding: 0;
  height: 100%;
  margin-left: auto;
  background: transparent;
  border: none;
  width: 58px;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url("./img/Menu-Bar.png");
  display: inline-block;
}

.navigation {
  display: none;
}

.additionla-navigation {
  display: flex;
  margin-top: 60px;
  margin-left: auto;
}
.additionla-navigation__column {
  margin-right: 29px;
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  color: #2b292d;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}
.nav-links__list {
  margin-top: 18px;
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
}
.nav-links__list__item {
  color: #2b292d;
  opacity: 60%;
}

@media screen and (min-width: 400px) {
  .header {
    margin: auto;
    display: flex;
    width: 1140px;
    height: 64px;
    background-color: #f3c6bd;
  }
  .header__button {
    display: block;
  }
  .header__menu-button {
    display: none;
  }
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
  .navigation__item {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    margin-left: 50px;
  }
  .navigation__item_selected {
    font-weight: 700;
    color: #000;
  }
  .navigation__arrow {
    background-image: url(img/Arrow.png);
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 11px;
  }
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
  .logo__description {
    line-height: 18px;
    font-size: 20px;
  }
  .logo__img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer__description {
  font-size: 18px;
  line-height: 26px;
  color: #2b292d;
  opacity: 60%;
  margin-top: 26px;
}
.footer__navigation {
  height: 339px;
}
.footer__line {
  border-top: 1px solid #000;
  opacity: 10%;
  width: 100%;
  margin: 0;
}
.footer__links {
  display: flex;
  align-items: center;
  height: 50px;
  width: 1140px;
  margin: 0 auto;
}
.footer__navigation {
  display: flex;
  width: 1140px;
  margin: 0 auto;
}
.footer__terms {
  margin: 15px;
  height: 22px;
  font-size: 14px;
}
.footer__terms__item {
  line-height: 22px;
  color: #2b292d;
  opacity: 60%;
}
.footer__terms__item + .footer__terms__item {
  margin-left: 22px;
}

.logo {
  display: flex;
}
.logo__img {
  width: 48px;
  height: 48px;
}
.logo__name {
  color: #2b292d;
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
}
.logo__description {
  display: none;
}
.logo__text {
  color: #2b292d;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  width: 100%;
}
.headline__img {
  margin-bottom: 36px;
  width: 100%;
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  color: #2b292d;
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
.headline__actions {
  margin-top: 30px;
}

@media screen and (min-width: 400px) {
  .headline {
    display: flex;
    position: relative;
    margin: auto;
    width: 1140px;
    margin-top: 84px;
    padding-bottom: 77px;
  }
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
  .headline__title {
    width: 754px;
    height: 165px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
    margin-top: 0;
  }
  .headline__description {
    margin-top: 34px;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    color: #2b292d;
  }
  .headline__img {
    margin-left: auto;
    position: relative;
    height: 448px;
    width: 796px;
    right: -110px;
  }
}
.action-button {
  color: #fff;
  background-color: #3040c4;
  font-weight: 700;
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}

.info-button {
  background-color: #fff;
  color: #3040c4;
  font-weight: 700;
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}

.header__button {
  display: none;
}

@media screen and (min-width: 400px) {
  .action-button {
    font-weight: 700;
    width: 160px;
    height: 50px;
    background-color: #3040c4;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 13px;
    border-radius: 2px;
    border: none;
  }
  .info-button {
    margin-left: 10px;
    width: 160px;
    height: 50px;
  }
}
.audiensec {
  background: rgba(0, 161, 198, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audiensec-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.audiensec-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.audiensec-text__paragraph {
  margin-top: 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #2b292d;
}
.audiensec-text__header {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  color: #2b292d;
}
.audiensec-text__description {
  margin: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2b292d;
}

.audiensec-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
.audiensec-tools__item-img + .audiensec-tools__item-img {
  margin-top: 15px;
}
.audiensec-tools__item-img {
  width: 290px;
  height: 300px;
}

.audiensec-btn {
  margin: 0;
  width: 290px;
  height: 48px;
}

.text-btn-black {
  color: #000;
}

.audiensec-btn + .audiensec-btn {
  margin-top: 12px;
}

@media screen and (min-width: 400px) {
  .audiensec {
    display: flex;
    flex-direction: column;
  }
  .audiensec-text {
    margin: 108px 423px 0 422px;
  }
  .audiensec-text__description {
    margin: 0;
    width: 555px;
    height: 72px;
    margin-top: 30px;
  }
  .audiensec-text__header {
    height: 112px;
    width: 555px;
    text-align: center;
    letter-spacing: -0.5px;
    font-size: 56px;
    line-height: 56px;
    margin-top: 24px;
  }
  .audiensec-tools {
    display: flex;
    flex-direction: row;
    margin: 111px 131px 110px 130px;
  }
  .audiensec-tools__item-img + .audiensec-tools__item-img {
    margin-left: 30px;
  }
  .audiensec-actions {
    display: flex;
    flex-direction: row;
    margin-top: 34px;
  }
  .audiensec-btn + .audiensec-btn {
    margin: auto auto auto 10px;
  }
  .audiensec-btn {
    height: 48px;
    width: 160px;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans";
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

.top-section {
  background-color: #f3c6bd;
}

.userful-link {
  height: 338px;
  width: 1140px;
  margin: 0 auto;
}

.social-link {
  display: flex;
  margin-left: auto;
}
.social-link a + a {
  margin-left: 15px;
}

.about-company {
  width: 360px;
}

.downlouds {
  margin-top: 25px;
}
.downlouds__item {
  margin-right: 10px;
}

.about-company {
  margin-top: 43px;
}

/*# sourceMappingURL=style.css.map */
