.action-buttom {
  font-weight: 700;
  width: 160px;
  height: 50px;
  background-color: #3040c4;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 13px;
  border-radius: 2px;
  border: none;
}

.info-button {
  background-color: #fff;
  color: #3040c4;
}
