@import "header.scss";
@import "footer.scss";
@import "logo.scss";
@import "headline.scss";
@import "button.scss";
@import "media.scss";
@import "audience.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans";
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

.top-section {
  background-color: #f3c6bd;
}

.userful-link {
  height: 338px;
  width: 1140px;
  margin: 0 auto;
}

.social-link {
  display: flex;
  margin-left: auto;
  a + a {
    margin-left: 15px;
  }
}

.about-company {
  width: 360px;
}

.downlouds {
  margin-top: 25px;
  &__item {
    margin-right: 10px;
  }
}

.about-company {
  margin-top: 43px;
}
