$blueColor: #3040c4;
$whiteColor: #fff;

.btn {
  width: 290px;
  height: 48px;
  font-weight: 700;
  height: 48px;
  text-align: center;
  border: none;
  font-size: 18px;
  line-height: 13px;
  border-radius: 2px;
}

.action-button {
  color: $whiteColor;
  background-color: $blueColor;
}

.info-button {
  background-color: $whiteColor;
  color: $blueColor;
  &_black-text {
    color: #000;
  }
}

.btn + .btn {
  margin-top: 15px;
}

.header__button {
  display: none;
}

@media screen and (min-width: 400px) {
  .action-button {
    font-weight: 700;
    width: 160px;
    height: 50px;
    background-color: $blueColor;
    text-align: center;
    color: $whiteColor;
    font-size: 18px;
    line-height: 13px;
    border-radius: 2px;
    border: none;
  }
  .info-button {
    margin-left: 10px;
    width: 160px;
    height: 50px;
  }
  .btn + .btn {
    margin-top: 0;
  }
}
