.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
  &__menu-button {
    padding: 0;
    height: 100%;
    margin-left: auto;
    background: transparent;
    border: none;
    width: 58px;
    border-left: 1px solid #00000026;
  }

  &__menu-icon {
    width: 18px;
    height: 13px;
    background-image: url("../img/menuBar.png");
    display: inline-block;
  }
}

.header .logo__description {
  display: none;
}

.navigation {
  display: none;
}

.additionla-navigation {
  display: flex;
  margin-top: 60px;
  margin-left: auto;
  &__column {
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
  &__title {
    color: #2b292d;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
  }
  &__list {
    margin-top: 18px;
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    &__item {
      color: #2b292d;
      opacity: 60%;
    }
  }
}

@media screen and (min-width: 400px) {
  .header .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
    margin-left: 15px;
  }

  .header {
    margin: auto;
    display: flex;
    width: 1140px;
    height: 64px;
    background-color: #f3c6bd;

    &__button {
      display: block;
    }

    &__menu-button {
      display: none;
    }
  }

  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
    &__item {
      font-size: 18px;
      line-height: 25px;
      color: #2b292d;
      margin-left: 50px;
    }

    &__item_selected {
      font-weight: 700;
      color: #000;
    }

    &__arrow {
      background-image: url(img/Arrow.png);
      display: inline-block;
      width: 8px;
      height: 5px;
      margin-left: 11px;
    }
  }

  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }

  .logo {
    &__description {
      line-height: 18px;
      font-size: 20px;
    }

    &__img {
      width: 60px;
      height: 60px;
    }
  }
}
